 <!-- <style>
 #form_container
{
	padding:100px 100px;
	margin-top:15px;
	background: rgba(255,255,255,0.75);
}
body
{
	background-color: #F4EAD5;
	background-image: url("images/window-484596_1280.jpg");
  background-size: cover;

  text-align: center;
  padding-top: 100px;
  margin-top: 100px;
} -->
 <!-- </style>  -->

<!--
 <div class=" mx-auto my-3">
  <div class="row">
      <div class="col-md-6 col-md-offset-6" id="form_container">
        <p>Tell us more about why you chose your rating </p>
          <form class="container" [formGroup]="">
              <div class="row">
                  <div class="col-sm-12 form-group">
                      <label for="message"> Message:</label>
                      <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7"></textarea>
                  </div>
              </div>
          </form>
      </div>
      <button type="submit" class="btn btn-raised btn-info btn-block">Send</button>
  </div>
</div> -->



<div class="container my-7 p-4">
  <!-- <div class="display-4 text-center text-muted rounded border border-light my -2"> CREATE NEW POLL</div> -->

  <div class="card mx-auto my-3" style="width: 45%">
    <div class="card-body">


      <form action="" [formGroup]="">
        <h5 style="text-align: center;">Tell us more about why you chose your rating </h5>
        <hr>

        <div class="form-group">
          <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7"></textarea>
        </div>
        <div class="card-body">
          <button type="submit" class="btn btn-raised btn-info btn-block" style="width: 30%;">SEND</button>
        </div>

      </form>
    </div>
  </div>


</div>

